/* ---- reset ---- */

html {
  box-sizing: border-box;
  /* overflow: hidden; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* Typography */

h1 {
  font-family: 'Geostar Fill', cursive;
  text-transform: capitalize;
  font-size: 10rem;
  color: white;
}

h2 {
  font-family: 'Josefin Slab', serif;
  text-transform: capitalize;
  color: white;
}

a,
span,
p,
li,
ol,
input,
::placeholder {
  font-family: 'Josefin Slab', serif;
  text-decoration: none;
  text-transform: capitalize;
  color: #00C6FF;
  font-weight: bold;
}

li {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Layout */

body {
  background-image: url(../Assets/Image/Background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(237, 201, 175, 0.03);
  width: 90vw;
  margin-top: 12vh;
  margin-right: 5vw;
  margin-left: 5vw;
}

.button {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: azure;
  border-radius: 50px;
  opacity: 0.6;
}

/* Splash */

.splash-screen-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-title {
  padding-bottom: 3rem;
  margin-left: 3rem;
  margin-top: 4rem;
}

.splash-controls-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
  line-height: 1.5;
  text-align: center;
  margin: 4rem 2rem 1rem 1rem;
}

.intro-container {
  position: relative;
  height: 600px;
}

.intro-container img {
  max-width: 100%;
  display: none;
}

.intro {
  font-size: 2rem;
  margin-bottom: 4rem;

}

.flip {
  display: block !important;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 35px;
}

/* Game */

.markers-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.markers {
  padding: 1rem 3rem;
  width: 20rem;
  font-size: 3rem;
  font-weight: bold;
}

.player1 {
  color: #D80036;
}

.player2 {
  color: #018E42;
}

/* Final */

.final-screen {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
}

.left-content,
.right-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto 5%;
  width: 45%;
}

.left-content {
  background-image: url(../Assets/Image/astronaut-background.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: bottom;
}

ol.ranking {
  margin-left: 2rem;
}

.game-over {
  font-size: 9rem;
  margin-bottom: 0;
  margin-top: 2rem;
  color: white;
  width: 40rem;
  margin-left: 4rem;
  text-align: left;
}

.result {
  font-size: 3rem;
  margin-left: 4rem;
  width: 35rem;
}

.input {
  border: none;
  background: none;
  font-size: 4rem;
  color: #00C6FF;
  width: 15rem;
  text-align: right
}

#flicker {
  margin-right: 5px;
  margin-left: -10px;
}

#result {
  color: white;
}

.ranking-title {
  font-size: 4rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.replay {
  font-size: 2.5rem;
  width: 18rem;
  align-self: center;
}


/* Utility classes */

.hidden {
  visibility: hidden;
}

.filtered {
  filter: invert(100%);
}